* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: var(--base-line-height);
}

.container {
    position: relative;
    min-height: 100vh;
    background: url('/appthibanglaixe/Assets/pexels-joey-lu-49400-186537.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.container::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('/appthibanglaixe/Assets/pexels-joey-lu-49400-186537.jpg') center/cover no-repeat;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: 0;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 37, 0.7);
    background: linear-gradient(150deg,rgba(0, 0, 49, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
}

.nav_bar {
    backdrop-filter: blur(10px);
    background: rgba(8, 8, 8, 0.4);
    padding: 14px 20px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav_bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav_bar ul li {
    margin: 0 30px;
}

.nav_bar ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.nav_bar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.nav_bar ul li a:hover::after {
    width: 100%;
}

.content {
    position: relative;
    z-index: 2;
}

.content .banner {
    text-align: center;
    font-size: 26px;
    margin-bottom: 60px;
    color: rgb(255, 95, 95);
}

#info {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
}

.exam_structure_and_guide {
    display: flex;
    margin: 30px;
    font-size: 16px;
    max-width: 1600px;
}

.right, .left {
    margin: 0;
    padding: 20px;
    flex: 1;
}

.left {
    border-right: 1px solid white;
}

.left h3 {
    margin-bottom: 20px;
    text-align: center;
}

.left ul {
    list-style: none;
}

.left ul li {
    margin-bottom: 32px;
}

.right h3 {
    margin-bottom: 20px;
    text-align: center;
}

.right ul {
    list-style: none;
}

.right li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.exam_selection {
    margin-top: 60px;
    text-align: center;
}

.exam_selection .title {
    font-size: 30px;
}

.exam_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.exam_buttons button {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.exam_buttons button:hover {
    transform: translateY(-5px);
}