body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #0288d1; /* xanh Traveloka */
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  .logo {
    max-width: 100px;
  }
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right input {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.btn-login {
  background: #ff9800; /* màu cam nổi bật */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.btn-login:hover {
  background: #e68900;
}
.logo img {
  width: 70px;
  height: auto;
}
