@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CU:wght@100..400&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  transition: all 0.5s linear;
  color: #fff;
  text-transform: capitalize;
}
body {
  background-color: #1a1110;
  font-family: "Lato", sans-serif;
}
header {
  position: relative;
  padding: 2cm 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo {
  font-size: 1.1cm;
  font-weight: 600;
  flex: 1;
  color: #fff;
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
  margin-right: 1%;
}
.navbar {
  width: 100%;
  padding: 2rem 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  position: fixed;
}
.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.item {
  display: flex;
  justify-content: center;
}
.nav_items li {
  list-style: none;
  padding: 15px; /*khoang cach cac chu */
}
.nav_items li a {
  text-decoration: none;
  transition: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block; /*Khong cho xuong dong*/
  white-space: nowrap;
}
.nav_items li::before {
  content: "";
  width: 0;
  height: 2px;
  background: orangered;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav_items li:hover::before {
  width: 100%;
}
.btn {
  padding: 9px 15px;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: orangered;
  border: 2px solid orangered;
}
.nav_menu {
  display: none;
}
.main {
  width: 80%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
}
.heading_1 {
  font-size: 2.3cm;
}
.heading {
  font-size: 1cm;
  padding: 1% 0;
  font-family: "Playwrite CU", cursive;
}
.main_btn {
  display: flex;
}
.btn1:hover {
  background-color: transparent;
}
.btn2 {
  background-color: transparent;
  margin-left: 1%;
  align-items: center;
  display: flex;
}
.btn2 i {
  font-size: 2cm;
  margin-right: 6px;
  color: orangered;
}
.btn2:hover {
  background-color: orangered;
}
.btn2:hover i {
  color: #fff;
}
